{% extends "base.html" %}
{% block content %}
<div class="card-centered">
    <h3 class="text-center mb-3">Forgot Password</h3>
    <form method="POST">
        <div class="mb-3">
            <label>Enter your registered name or email</label>
            <input type="text" class="form-control" name="user_identifier" required>
        </div>
        <button type="submit" class="btn gradient-btn w-100">Reset Password</button>
        <p class="mt-3 text-center"><a href="{{ url_for('login') }}">Back to Login</a></p>
    </form>
</div>
{% endblock %}
